
main{
	margin-left: 150px; /* Måste vara samma som width för local_nav */
}


/*======================== Navigering ==========================*/
/*_______________ #local_nav _______________*/

#local_nav_title{
	display: none;

	margin: 0;
	padding: 0;
}


#local_nav ul{
	list-style-type: none;
	padding: 0; /* Tar bort den padding som normalt läggs till för ul */
	margin: 0; /* Tar bort den margin som normalt läggs till för ul */

	font-family: Arial;
	font-size: 20px;
}



#local_nav a{
	text-decoration: none;
	color: white;

	background-color: #2e9a11;

	padding: 10px;
	display: inline;

	width: 100px;


	border-radius: 3px;
}



#local_nav ul li{
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;


	width: 100%;

	padding-left: 10px;

}

#local_nav{
	background-color: #dff1ce;
	display: block;
	float: left;
	width: 150px; /* Måste vara samma som margin-left för main */



	/*margin-top: 10px*/
}



/*===================== Stil för övriga egna element med ID =======================*/



/*===================== Navigerings-knapp =======================*/

#nav-button:checked ~ #local_nav{
	display: inline;

	width: 100%;

	float: left;
}


/*===================== Responsiv design =======================*/


@media screen and (max-width: 650px){
	#local_nav{
		float: none;
		display: block;
		width: 100%;


		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;

	}

	#local_nav ul li{
		display: inline;
		margin-top: 10px;
		margin-bottom: 10px;

		padding-left: 0px;
	}

	#local_nav a{
		padding: 2px;
		padding-left: 4px;
		padding-right: 4px;
	}


	main{
		margin-left: 0;
	}
}

@media screen and (max-width: 470px){ /* Här ska det bli en dropdown-meny för navigering */
	nav{
		margin-bottom: 0;
	}

	#local_nav{
		display: none;

		padding: 0;

		margin-bottom: 20px;

	}

	#local_nav ul li{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#local_nav a{

		padding: 4px;
		padding-right: 100%;


		border-radius: 0;
	}

	#local_nav_title{
		display: block;

		padding-left: 10px;

		color: #00540c;
		font-family: Verdana;
		font-size: 20px;
	}

}




/**********************************************/

