/*======================== Återställ margins bl.a ==========================*/
html, body, div, header, nav, main, section, footer{
	margin:0;
	padding:0;
}
header, nav, main, footer, section {
	display:block;
}

h1, h2, h3, h4, p{
	font-family: Verdana;
}


/*======================== Stil för element ==========================*/

header{
	background-image: url("pics/computer-monitor3.jpg");
	
	padding: 1vw;
	
	color: black;

	
	font-size: 20px;


	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}

header h1{
	margin: 0;
	padding: 0;

	font-family: Candara;
	display: block;
}


body{
	background-color: grey;
}

main{
	font-size: 18px;
	background-color: #fffcea;
	margin-left: 0px; /* Måste vara samma som width för local_nav */

	padding: 1px;
	padding-left: 20px;
	padding-right: 20px;
}

main:after{ /*Gör så att eventuellt korta sidor får två kolumner i hela #wrapper*/
	content: "";
	display: block;
	clear: both;
}

footer{
	background-color: #00690f;
	color: white;
	text-align: center;
	padding: 10px;
	clear: both;
}

footer p{
	margin: 0;
}

img{
	max-width: 100%;
}

table{
	border-collapse: collapse;
	box-shadow:5px 5px 10px grey;
	margin-bottom: 20px;
	background-color: white;
}

th, td{
	border:1px solid black;
	padding:10px;
}

th{
	background-color: #00690f;
	color: white;
}


/*======================== Navigering ==========================*/
/*_______________ #global_nav _______________*/

#global_nav ul{
	list-style-type: none;
	padding: 0; /* Tar bort den padding som normalt läggs till för ul */
	margin: 0; /* Tar bort den margin som normalt läggs till för ul */

	font-family: Arial;
	font-size: 20px;
}

#global_nav ul li{
	background-color: white;
}


#global_nav a{
	text-decoration: none;
	color: white;
	background-color: #00690f;
	padding: 10px;
	display: inline;
}



#global_nav{
	background-color: white;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

#global_nav ul li{
	display: inline;
}


/*===================== Stil för övriga egna element med ID =======================*/

#wrapper{
	background-color: #dff1ce;

	max-width:800px; /* responsiv bredd */ 
	margin:0 auto;
}


#global_nav #thisPage{
	background-color: #dff1ce;
	border: 1px solid black;
	color: black;
	height: 100px;
}

#event{
	background-color: white;
	margin: 20px;
	padding: 20px;

	border-collapse: collapse;
	box-shadow:5px 5px 10px grey;
}

img{
	float: left;
}

#employee{
	
}

/*===================== Navigerings-knapp =======================*/

#nav-button{
	display: none;
}

#nav-button-label{
	display: none;
}


#nav-button:checked ~ #global_nav{
	display: block;
}

#nav-button-image{
	background-color: #00690f;
	border-radius: 3px;

	position: absolute;
	top: 10vw;
	left: 2vw;

	height: 10vw;
}


#nav-button:checked ~ #nav-button-label #nav-button-image{
	background-color: black;
}



/*===================== Responsiv design =======================*/


@media screen and (min-width: 780px){
	#global_nav ul li{
		margin-right: 5px;
	}
}


@media screen and (max-width: 760){

	
}



@media screen and (max-width: 590px){
	#global_nav ul{
		font-size: 18px;
	}

	#global_nav a{
		padding: 5px;
	}

	#global_nav{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	header{

		height: 10vw;
		font-size: 4vw;

		background-size: 200% ;
		background-position: top left;
	}

	header h1{
		display: inline;
	}
}

@media screen and (max-width: 490px){
	header{
		height: 20vw;
	}

	

	#global_nav{
		display: none;

		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0;

		margin-left: 0;
		margin-bottom: -10px;

		background-color: #dff1ce;
	}

	#global_nav ul{
		font-size: 16px;
	}

	#global_nav ul li{
		display: block;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#global_nav a{
		padding: 8px;
		padding-right: 100%;
		font-size: 20px;
	}

	#nav-button-label{
		display: inline;
	}


}




