html, body, div, header, nav, main, section, footer{
	margin:0;
	padding:0;
}
header, nav, main, footer, section {
	display:block;
}
body {
	background-color:black; 
	color:black; 
	font-family: "Georgia", sans-serif; 
	font-size:12px;
}

/*-------------------- main ----------------------*/

main{
	padding:15px;
	margin-left:17.5%; /* 140/800 px */
	background-color:#fff3e0; 
}
main h2, main h3{
	color:#ff5e29;
}
main h3{
	border-top:1px solid #999;
	padding-top: 10px;

	clear: right;
}
main h3:before{
	content: "--- ";
}
main:after{
	content: "";
	display: block;
	clear: both;
}

/*-------------------- header och footer----------------------*/

header{
	background-image:url(pics/bg.jpg);
	height:140px;
	background-position: center;
}
header h1, header h3{
	color:white;
	margin:0;
	padding:10px;
}
footer{
	background-color:#a33a17;
	color:white;
	text-align:center;
	padding:10px;
	clear:both;
}

/*--------------------- nav-stil ---------------------*/

nav{
	float:left;
	width:17.5%; /* 140/800 px */
	padding-top: 20px;


}
nav ul{
	list-style-type:none;
	padding:0;
	padding-left:15px;
}
nav ul li{
	display:block;
	margin-right:20px;
	margin-bottom:25px;
}
nav a{
	text-decoration:none;
	padding:5px;
	display:block;
}
nav a:link, nav a:visited{
	background-color:#b1887b;
	color:white;
}
nav a:hover, nav a:active{
	background-color:#dca897;
	color:white;
}

/*------------------- table-stil -----------------------*/

table{
	border-collapse:collapse;
	box-shadow:5px 5px 10px grey;
	margin-bottom: 20px;
}
th, td{
	border:1px solid #666;
	padding:5px;
}
tr{
	background-color:white;
}
th{
	background-color:darkred;
	color:white;
}
tr:nth-child(even){
	background-color:lightgrey;
}

/*------------------ ID-stil ------------------------*/

#wrapper{
	max-width:800px;	
	margin:0 auto;
	background-color:#ffe5b9;
}
#question-box{
	background-color:#ffeaa7;
	border:1px solid red;
	border-radius:5px;
	padding:10px;
	width:80%;
	margin:0 auto;
	box-shadow:5px 5px 10px grey;
}
#thisPage{
	background-color:#a33a17;
	color:white;
}


/*--------------  L6  ---------------------*/

#floatImg{
	float:right;
	margin: 10px;
	width: 120px;
}

img{
	max-width: 100%;
}


@media screen and (max-width: 640px){
	nav{
		float: none;
		width: 100%;
	}
	nav ul li, nav a{
		display: inline;
	}

	main{
		margin-left:0;
	}

	header{
		height: 100px;
		background-size: auto 100px;
	}
}

@media screen and (max-width: 310px){
	nav ul li, nav a{
		display: block;
	}
	nav, nav ul, nav ul li{
		margin: 0;
		padding: 0;
	}
	nav a{
		border: 3px outset #900;
	}
}

@media screen and (max-width: 280px){
	#floatImg{
		float: none;
	}
}

@media screen and (max-width: 340px){
	table{
		box-shadow: none;
		width: 100%;
	}
	th, td{
		display: block;
	}
	tr{
		border-bottom: 2px solid #333;
	}
}